body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner {
    border-top: 5px solid gold !important;
    overflow-y: auto !important;
}

body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner #ez-accept-all,
body #ez-cookie-dialog-wrapper #ez-cookie-dialog #ez-accept-necessary,
body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner #ez-save-settings {
    background-color: gold !important;
    padding: 12px 18px !important;
    border-radius: .875rem !important;
    transition: 0.3s background-color;
    color: #000 !important;
    white-space: nowrap !important;
    margin: 0 !important;

}

body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner #ez-reject-all {
    padding: 0 60px !important;
}


@media only screen and (min-width: 1250px) {

    body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner #ez-accept-necessary,
    body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner #ez-save-settings,
    body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner #ez-reject-all {
        margin-right: 0 !important;
        margin-left: 20px !important;
    }
}

body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner #ez-accept-all {
    margin-left: auto !important;
}


body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner #ez-accept-all:hover,
body #ez-cookie-dialog-wrapper #ez-cookie-dialog #ez-accept-necessary:hover {
    background-color: #ffeb81 !important;
}

body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner .ez-switch-view-btn {
    padding: 12px 18px !important;
    white-space: nowrap !important;
}

body #secondary-links {
    justify-content: center !important;
    padding-bottom: 4px;
}

body #ez-cookie-dialog-wrapper #ez-cookie-dialog a {
    color: goldenrod !important;
}

body #ez-cookie-dialog-wrapper {
    background-color: rgba(0, 0, 0, .3) !important;
    backdrop-filter: unset !important;
}

body #ezPrivacyCenter {
    bottom: 5px !important;
    background-color: goldenrod !important;
    padding: 0;
    right: 6px;
    left: unset;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    writing-mode: unset;
}

#ez-cookie-dialog-wrapper #ez-cookie-dialog #secondary-links {
    margin-top: 0 !important;
}

body #ez-cookie-dialog-wrapper #ez-cookie-dialog button {
    margin-top: 0 !important;
}

@media only screen and (min-width: 601px) {
    body #ez-cookie-dialog-wrapper #ez-cookie-dialog.ez_banner p {
        margin: 20px 0 !important;
    }
}