.content-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.main-content {
    height: 100%;
    flex-grow: 1;
    position: relative;
    z-index: 0;
}

.sidebar {
    /* This sidebar is designed to host a 300px wide (at most) ad
    plus some 10px horizontal padding on each side.  */
    max-width: 320px;
    overflow: hidden;
    /* In container separator to divide app/ads. Not visible when
    the container collapses. */
    background: linear-gradient(to right, #3a3a3a 0px, #3a3a3a 5px, #2d2d2d 5px);

    /* The ad container should be rendered above the app to make sure
    the application right side drawer can be hidden below when collapsed. */
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.main-wrapper {
    margin-top: 40px;
    transition: margin 200ms ease-out;
}

.main-wrapper,
.sticky-section {
    /* Piskel app layout elements positioning is done using position:fixed.
    This is not compatible with nesting the piskel app in another
    surrounding layout. */
    position: absolute !important;
}

/* Ezoic CCPA privacy banner */

.has-ezoic-ccpa .content-container {
    bottom: 30px !important;
}

[data-ezoic-role="privacy-policy"] {
    padding: 4px 0 !important;
    background: #1D1D1D !important;
    border-top: none !important;
    position: fixed !important;
    bottom: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 20px !important;
}

[data-ezoic-role="privacy-policy"] h2 {
    font-size: 14px !important;
}

[data-ezoic-role="privacy-policy"] p {
    font-size: 12px !important;
}

[data-ezoic-role="privacy-policy"] button#ez-ccpa-accept-all {
    background-color: gold !important;
    color: #000 !important;
}

[data-ezoic-role="privacy-policy"] button {
    border: none !important;
}

.has-shutdown-warning .main-wrapper {
    margin-top: 70px;
}


#loading-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 1;
    z-index: 20000;
    transition: opacity 0.5s;
    color: white;
    font-size: 24px;
}

#loading-mask span {
    top: 50%;
    left: 50%;
    height: 50px;
    width: 300px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    margin-top: -25px;
    margin-left: -150px;
    position: absolute;
}

.editor-header-wrap {
    z-index: 10000;
    position: relative;
    font-size: 12pt;
}

.editor-header-wrap .piskel-button {
    color: black;
}

.editor-header-wrap .user-menu-popup-link {
    color: white;
}

.editor-header-wrap .user-menu-popup-link:hover {
    color: gold;
}

.editor-header-wrap .navigation {
    height: 36px;
    line-height: 36px;
}

.editor-header-wrap .link {
    position: relative;
    z-index: 2;
}

.editor-header-wrap .small-user-avatar {
    width: 36px;
    height: 36px;
    border: none;
}

.editor-header-wrap .flat-button {
    margin: 0 1px 0 0;
    padding: 0 10px 0 30px;
    border-top-width: 3px;
    border-bottom-width: 0;
    border-radius: 0;
    height: 36px;

    transition: border 0.2s, color 0.2s;
}

.editor-header-wrap .flat-button:hover {
    border-top-color: gold;
    color: gold;
}

.piskel-name {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16pt;
    color: #888;
    text-shadow: 0 -1px 0 #000;
}

.piskel-name-saving:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 25px;
    background-image: url('/static/resources/pacman-loader.gif');
    height: 25px;
    margin-left: 5px;
}


.navigation .logout-link {
    font-size: 1em;
    padding-left: 0px;
    padding-right: 30px;
    background-position: 50px 10px;
    line-height: 36px;
}

@media (max-width: 870px) {
    .editor-nav-longdesc {
        display: none;
    }

    .nav-user-drop-arrow {
        margin-left: 3px;
    }
}